<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href="/css/datatables.min.css"/>
<link rel='stylesheet' href="/css/custom.css"/>

<script  src="/js/jquery.min.js"></script>
<script  src="/js/datatables.min.js"></script>
<script  src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<title>Reports</title>
</head>
<body>
    <div class="container">

    <table id="myTable" class="display-4" style="width:100%">
        <thead>
        
            <tr>
                <th>Object_ID</th>
                <th>rem_no</th>
                <th>transaction_id</th>
                <th>service_name</th>
                <th>service_type</th>
                <th>system_name</th>
                <th>username</th>
                <th>agent_code</th>
                <th>agent_name</th>
                <th>agent_address</th>
                <th>date</th>
                <th>Amounts</th>
                <th>FirstName</th>
                <th>SecondName</th>
                <th>ThirdName</th>
                <th>LastName</th>
                <th>CustID</th>
                <th>requestData</th>
                <th>responesData</th>
                <th>System Request</th>
                <th>qRespones</th>
                <th>pRespones</th>
                <th>remStatus</th>
            </tr>
        </thead>
        <tbody class="tbl-content">
            
            <% for (var i =0; i < getData.length;  i++ ) { %>
                <tr>
               <td> <%= getData[i]['_id'] %> </td>
               <td> <%= getData[i]['rem_no'] %> </td>
               <td> <%= getData[i]['transaction_id'] %> </td>
               <td> <%= getData[i]['service_name'] %> </td>
               <td> <%= getData[i]['service_type'] %> </td>
               <td> <%= getData[i]['system_name'] %> </td>
               <td> <%= getData[i]['username'] %> </td>
               <td> <%= getData[i]['agent_code'] %> </td>
               <td> <%= getData[i]['agent_name'] %> </td>
               <td> <%= getData[i]['agent_address'] %> </td>
               <td> <%= getData[i]['date'] %> </td>
               <td> <%= getData[i]['Amounts'] %> </td>
               <td> <%= getData[i]['FirstName'] %> </td>
               <td> <%= getData[i]['SecondName'] %> </td>
               <td> <%= getData[i]['ThirdName'] %> </td>
               <td> <%= getData[i]['LastName'] %> </td>
               <td> <%= getData[i]['CustID'] %> </td>
               <td> <%= getData[i]['requestData'] %> </td>
               <td> <%= getData[i]['responesData'] %> </td>
               <td> <%= getData[i]['Request'] %> </td>
               <td> <%= getData[i]['qRespones'] %> </td>
               <td> <%= getData[i]['pRespones'] %> </td>
               <td> <%= getData[i]['remStatus'] %> </td>
            </tr>
                <% } %>
                
        </tbody>
       
    </table>
</div>
    
    <script>
    
      $(document).ready( function () {

        $('#myTable').DataTable(
            {
            "ordering" : false,
            
        
    }
    )} );
    
    </script>
   
    




</body>
</html>
